body {
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    color: rgb(165, 145, 130);
}

main > div { 
    width: 50%;
    margin: 15vh auto 0;
}

main > div > h1 {
    width: max-content;
    margin: 15px auto;
}

main > div > span {
    width: 100%;
    height: 1px;
    background-color: rgb(165, 145, 130);
    display: block;
}

table {
    width: 75%;
    padding-bottom: 10px;
    text-align: center;
    overflow: scroll;
}

td {
    padding: 10px;
    overflow:scroll;
}

::-webkit-scrollbar {
    visibility: hidden;
}

::-webkit-scrollbar-track {
    visibility: hidden;
}

.form {
    margin: 15px;
}

.form > form {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    row-gap: 2vh;
    column-gap: 0;
}

.form > form > label:first-of-type {
    grid-column: 1;
    grid-row: 1;
}

.form > form > label {
    grid-column: 1;
    grid-row: 2;
    cursor: pointer;
}

#fade_away {
    animation: fade-out 2s forwards;
}

@keyframes fade-out {
    50% {
        scale: 1;
    }
    100% {
        scale: 0;
        margin: 0;
    }
}