body {
    margin: 0;
}

body > main {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
}

main > span {
    background-color: rgb(165, 145, 130);
    width: 200%;
    height: 1px;
}

main > div {
    color: rgb(165, 145, 130);
    margin-bottom: 2vh;
}

div:first-of-type {
    margin-top: 14vh;
}

h2 {
    font-size: 30px;
    margin: 0;
}

h3 {
    font-size: 24px;
}