body {
    margin: 0;
    /* background-color: rgb(165, 145, 130); */
}

main {
    height: 100vh;
    width: 100vw;
    background-image: url(/imgs/us.webp);
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: cover;
}

main > div {
    margin: 0;
    position: absolute;
    top: 75%;
    width: 100%;
}

main > div > * {
    width: max-content;
    margin: 0 auto;
    color: white;
    text-shadow: 4px 3px 3px black;
    font-size: 45px;
}
